= div_for(item, class: 'container', id: "item-#{item.id}") do
  .row
    .container.todo
      .col-md-7.col-md-offset-2.todo-cont
        .col-md-1.mark-complete
          = link_to "", [item.todo_list, item], :controller => 'items', :action => "update", id: "mark_complete", class: 'glyphicon glyphicon-ok', method: :patch, remote: true
        .col-md-10
          - if item[:completed] == true
            .col-md-8.todo-title.complete-items
              %strike
                %h4.text-muted= item.title
            .col-md-6.created-at
              %p.text-muted Completed - #{ item.updated_at.time.to_formatted_s(:long_ordinal) }
          - else
            .col-md-6.todo-title.incomplete-items
              %h4= item.title
            .col-md-6.created-at
              %p.text-muted Created - #{ item.created_at.time.to_formatted_s(:long_ordinal) }
        .col-md-2.delete-item
          / = link_to "", [todo_list.item], method: :delete, class: 'glyphicon glyphicon-trash', id: "delete_item", remote: true